@mixin flexstart {
    display: flex;
    justify-content: flex-start;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
}

@mixin flexalign {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin tablet {
    min-width: $tablet
}

@mixin desktop {
    min-width: $desktop;
}

@mixin liststyle {
    list-style: none;
}

