@use "variables" as *;

@mixin flexstart {
    display: flex;
    justify-content: flex-start;
}

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

@mixin flexrow {
    display: flex;
    flex-direction: row;
    
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
}

@mixin flexalign {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flexaligncenter {
    display: flex;
    align-content: center;
}

@mixin tablet {
    @media (min-width: $tablet){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin liststyle {
    list-style: none;
}

@mixin float {
    float: left;
    box-sizing: border-box;    
}

