@font-face {
    font-family: Avenir;
    src: url(/Assets/Fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Avenir;
    src: url(/Assets/Fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
    font-family: Avenir;
    src: url(/Assets/Fonts/AvenirNextLTPro-Regular.otf);
    font-weight: 300;
}