@use "partials/colors" as *;
@use "partials/mixins" as *;
@use "partials/variables" as *;
@use "partials/typography" as *;


.bio-section {
    color: $primary-dark;
    font-family: avenir;
    font-size: 1.5rem;
    height: 180vh;

    @include desktop {
        max-height: 25rem;
    }

    @include tablet {
        height: 100vh;
    }

    &__title {
        font-weight: 600;

        @include tablet {
            padding-left: 3rem;
        }
    }

    &__bio {
        word-spacing: 5px;
        line-height: 2rem;

        @include desktop {
            font-size: 1rem;
            height: 10vh;
            word-spacing: 2px;
        }
    

        @include tablet {
            width: 50%;
            float: left;
            box-sizing: border-box;
            background-color: $primary-light;
            padding-left: 3rem;

        }

    }
}