@use "partials/colors" as *;
@use "partials/mixins" as *;
@use "partials/variables" as *;
@use "partials/typography" as *;


// Banner Section

.banner-section {
    min-width: $iphone;

    &__title {
        display: flex;
        flex-direction: column;
        align-content: center;

        position: absolute;
        color: $primary-light;
        font-size: 2.5rem;
        font-weight: 600;
        z-index: 1;

        @include desktop {
            font-size: 5rem;
        }

        @include tablet {
            font-size: 5rem;
            bottom: 20rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1rem;
        position: absolute;
        color: $primary-light;
        font-size: 1.5rem;
        font-weight: 600;
        z-index: 1;
    }

    &__hero {
        width: 100%;
        min-width: $iphone;
        height: 60vh;
        object-fit: cover;
        border: 0px;
    }

    &__overlay {
        position: absolute;
        width: 97%;
        height: 60vh;
        background-color: $primary-dark;
        overflow: hidden;
        opacity: 0.5;

        @include desktop {
            width: 99%;
        }
    }
    &__song {
        position: absolute;
        top: 14rem;
    }

    &__header {
        font-size: 1.5rem;
        font-weight: 400;
    }

    &__description {
        line-height: 0.5rem;
        font-weight: 600;
    }
}

.main-content {
    min-width: $iphone;

    &__title {
        font-size: 2.5rem;
        color: $primary-dark;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 2rem;
    }

    &__image {
        width: 100%;
        height: 60vh;
        object-fit: contain;

    }

    &__description {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.5rem;
        color: $primary-dark;
        width: 100%vw;
        margin-top: 0px;

        @include desktop {
            margin-left: 8rem;
            margin-right: 0vw;
            max-width: 50vw;
        }

        @include tablet {
            padding-left: 9rem;
            width: 70vw;
            margin-right: 0px;
            font-size: 1rem;
            height: auto;
            font-size: 1.5rem;
        }
    }
}

.photo-gallery {
    background-color: $secondary-med;
    padding: 0px 30px 10px 10px;
    width: 85%;

    @include tablet {
        width: 90%;
        padding: 0px 0px 10px 10px;
        height: 70rem;
    }

    @include desktop {
        height: 87rem;
    }

    &__photos {
        @include tablet {
            width: 100vw;
        }
    }

    &__title {
        font-size: 24px;
        font-family: avenir;
        font-weight: 600;
        color: $primary-dark;
        font-size: 2.5rem;
        padding: 5px 5px 10px 30px;
        margin-bottom: 15px;
    }

    &__image {
        width: 100%;
        height: 60vh;
        padding: 15px;
        object-fit: cover;
        padding-right: 2rem;

        @include tablet {
            @include float;
            width: 33.33%;
            object-fit: cover;
            height: 40vh;
            background-color: $secondary-med;

        }
    }
}


// form
.form-section {
    @include flexcenter;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    &__label {
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
        color: $primary-med;
    }

    // &__image {
    //     border-radius: 50%;
    //     max-width: 60px;
    //     max-height: 60px;
    // }

    .inputField {
        width: 80%;
        height: 5vh;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 4px;

        @include tablet {
            width: 50%;
        }
    }

    &__button {
        background-color: $primary-dark;
        color: $primary-light;
        width: 82%;
        height: 5vh;
        border-radius: 4px;

        @include tablet {
            width: 20%;
        }
    &__submit {
        @include tablet {
            display: flex;
            justify-content: flex-end;
        }
    }    
    }

    &__avatars {
        background-image: url(../assets/images/Mohan-muruge.jpg);
        background-color: $primary-dark;
    }

    &__comment {
        border-bottom: 2px solid $secondary-med; padding-bottom: 0.5rem; padding-left: 0px;
        border-top: 2px solid $secondary-med; padding-bottom: 0.5rem; padding-left: 0px;

        @include tablet {
            width: 70%;
        }
    }

}

#bioCommentsContainer {
    width: 100%;
    height: auto;
    border: $primary-med;

    @include tablet {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
