@use "partials/colors" as *;
@use "partials/mixins" as *;
@use "partials/variables" as *;
@use "partials/typography" as *;

.shows-section {
    padding-left: 20px;
    padding-bottom: 20px;
    
    &__title {
        font-size: 2rem;
    }

    &__card {
        border-bottom: 2px solid $secondary-med; padding-bottom: 0.5rem; padding-left: 0px;

        &:hover{
            background-color: $secondary-med;
        }

        &:active{
            background-color: $primary-dark;
        }
    
        @include tablet {
            @include flexrow;
            justify-content: space-evenly;
            padding-top: 0.5rem;
        }
    }


    h4 {
        display: none;

        @include tablet {
            display: flex;
            color: $primary-med;
        }
    }

    &__subheader {
        @include tablet {
            @include flexrow;
            justify-content: space-around;
            width: 70%;
            font-weight: 400;
        }
    }

    h2 {
        font-size: 0.7rem;
        color: $primary-med;
        font-weight: 400;

        @include tablet {
            display: none;
        }
    }

    h3 {
        font-weight: 400;
    }

    button {
        background: $primary-dark;
        color: $primary-light;
        border-radius: 4px;
        width: 90vw;
        height: 2rem;
        font-size: 1.5rem;

        @include tablet {
            width: 20vw;
        }
    }

}